@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-orange: #d46331;
  --color-brand-dark: #141414;
  --font-heading: "Oswald", sans-serif;
  --font-sans: "Montserrat", sans-serif;
}
